<div class="line "><img src="modulos/assets/titulo.png" alt=""></div>
<div class="col-sm-12">
<div class="col-sm-6 paddind">
   
    <div class="pad col-sm-12">
       <div class="col-sm-6"> <h3 style="color:rgb(167,196,254);">Nombre:</h3></div>
        <div class="col-sm-6" > <h5 style="color:rgb(28, 123, 251);" > {{paciente.nombre}}</h5></div>
    </div>
    <div class="pad col-sm-12">
       <div class="col-sm-6"> <h3 style="color:rgb(167,196,254);">Edad:</h3></div>
        <div class="col-sm-6" > <h5 style="color:rgb(28, 123, 251);" > {{paciente.edad}}</h5></div>
    </div>
    <div class="pad col-sm-12">
       <div class="col-sm-6"> <h3 style="color:rgb(167,196,254);">Documento:</h3></div>
        <div class="col-sm-6" > <h5 style="color:rgb(28, 123, 251);" > {{paciente.docIdentidad}}</h5></div>
    </div>
    <div class="pad col-sm-12">
       <div class="col-sm-6"> <h3 style="color:rgb(167,196,254);">Teléfono:</h3></div>
        <div class="col-sm-6" > <h5 style="color:rgb(28, 123, 251);" > {{paciente.telefono}}</h5></div>
    </div>
    <div class="pad col-sm-12">
       <div class="col-sm-6"> <h3 style="color:rgb(167,196,254);">Dirección::</h3></div>
        <div class="col-sm-6" > <h5 style="color:rgb(28, 123, 251);" > {{paciente.direccion}}</h5></div>
    </div>
    <div class="pad col-sm-12">
       <div class="col-sm-6"> <h3 style="color:rgb(167,196,254);">Frecuencia marcapasos:</h3></div>
        <div class="col-sm-6" > <h5 style="color:rgb(28, 123, 251);" > {{paciente.fecuenciaMarcapasos}}</h5></div>
    </div>

    

</div>





<div class="col-sm-3 paddind">
    <button type="submit" class="btnVC" data-toggle="modal" data-target=".fade"><h3 style="color:white">Cambiar Frecuencia Marcapasos</h3></button>

    <button type="submit" class="btnVC" data-toggle="modal" data-target=".fadehistoria"><h3 style="color:white">Ver Historia Clinica</h3></button>

    <button type="submit" class="btnVC" data-toggle="modal" data-target=".fademedicion"><h3 style="color:white">Ver Mediciones</h3></button>

   
</div>
<div class="col-sm-3 paddind">

    <button type="submit" class="btnVC"  data-toggle="modal" data-target=".faderepo"><h3 style="color:white">Agregar Reporte</h3></button>
    
    <button type="submit" class="btnVC" data-toggle="modal" data-target=".fadeConsejo"><h3 style="color:white">Agregar Consejo</h3></button>
</div>
   
  
   

    <div class="modal fade" id="marcapasosFrecuencia">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Frecuencia del marcapasos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <p>Porfavor ingrese la nueva frecuencia del marcapasos.</p>
                    <label for="frec">Frecuencia marcapasos</label>
                    <input type="number" class="input form-control" name="modelo" ng-model="frecuenciaMarcapasos" required>
                </div>
                <div ng-show="show">
                        {{msj1}}
                    </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" ng-click=cambiarFrecuencia()>Guardar </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="setFalse()">cerrar</button>
                </div>
            </div>
        </div>
    </div>

   



    <div class="modal fadehistoria">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Historia Clinica</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID doctor</th>
                                <th>Tipo</th>
                                <th>Descripcion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in paciente.historiaClinica">
                                <td>{{item.idDoctor}}</td>
                                <td>{{item.tipo}}</td>
                                <td>{{item.descripcion}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Guardar </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">cerrar</button>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fademedicion">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Mediciones</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Medicion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="evento in paciente.eventos">
                                <td>{{ evento.$index+1 }}</td>
                                <td>{{evento.medicion}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Guardar </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">cerrar</button>
                </div>
            </div>
        </div>
    </div>
    
    



    <div class="modal faderepo" id="nuevoReporte">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nuevo Reporte</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <label for="tipo" class="lT">Tipo:</label>
                    <select name="clasificacion" id="clasificacion" class="custom-select form-control" ng-model="tipoReporte" ng-options="tipo.ti for tipo in tipos" required></select>
                    <label for="frec">Descripcion:</label>
                    <input type="text" class="input form-control" name="modelo" ng-model="descripcionReporte" required>
                    <div ng-show="show">
                        {{msj2}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="agregarReporte()">Guardar </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="setFalse()">cerrar</button>
                </div>
            </div>
        </div>
    </div>
    



    <div class="modal fadeConsejo" id="nuevoReporte">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nuevo Consejo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <label for="tipo" class="lT">Tipo:</label>
                    <select name="clasificacion" id="clasificacion" class="custom-select form-control" ng-model="tipoConsejo" ng-options="con.ti for con in consejosTipos" required></select>
                    <label for="frec">Descripcion:</label>
                    <input type="text" class="input form-control" name="modelo" ng-model="descripcionConsejo" required>
                    <div ng-show="show">
                        {{msj3}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="agregarConsejo()">Guardar </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="setFalse()">cerrar</button>
                </div>
            </div>
        </div>
    </div>

</div> 

<link rel="stylesheet" href="/modulos/paciente/paciente.css">



