<div class="col-sm-6">
    <div class="txtBtn">nombre:
        <div class="txtBtn">{{paciente.nombre}}</div>
    </div>

    <div class="txtBtn">Edad:
        <div class="txtBtn">{{paciente.edad}}</div>
    </div>

    <div class="txtBtn">Documento:
        <div class="txtBtn">{{paciente.docIdentidad}}</div>
    </div>

    <div class="txtBtn">teléfono:
        <div class="txtBtn">{{paciente.telefono}}</div>
    </div>

    <div class="txtBtn">Dirección:
        <div class="txtBtn">{{paciente.direccion}}</div>
    </div>

    <div class="txtBtn">Frecuencia Marcapasos:
        <div class="txtBtn">{{paciente.fecuenciaMarcapasos}}</div>
    </div>

</div>


<div class="col-sm-6">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".fade">Cambiar frecuencia marcapasos</button>



    <div class="modal fade" id="marcapasosFrecuencia">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Frecuencia del marcapasos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <p>Porfavor ingrese la nueva frecuencia del marcapasos.</p>
                    <label for="frec">Frecuencia marcapasos</label>
                    <input type="number" class="input form-control" name="modelo" ng-model="frecuenciaMarcapasos" required>
                </div>
                <div ng-show="show">
                        {{msj1}}
                    </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" ng-click=cambiarFrecuencia()>Guardar </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="setFalse()">cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".fadehistoria">Ver Historia Clinica</button>



    <div class="modal fadehistoria">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Historia Clinica</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID doctor</th>
                                <th>Tipo</th>
                                <th>Descripcion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in paciente.historiaClinica">
                                <td>{{item.idDoctor}}</td>
                                <td>{{item.tipo}}</td>
                                <td>{{item.descripcion}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Guardar </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".fademedicion">Ver Mediciones</button>



    <div class="modal fademedicion">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Mediciones</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Medicion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="evento in paciente.eventos">
                                <td>{{ evento.$index+1 }}</td>
                                <td>{{evento.medicion}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Guardar </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".faderepo">Agregar Reporte</button>



    <div class="modal faderepo" id="nuevoReporte">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nuevo Reporte</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <label for="tipo" class="lT">Tipo:</label>
                    <select name="clasificacion" id="clasificacion" class="custom-select form-control" ng-model="tipoReporte" ng-options="tipo.ti for tipo in tipos" required></select>
                    <label for="frec">Descripcion:</label>
                    <input type="text" class="input form-control" name="modelo" ng-model="descripcionReporte" required>
                    <div ng-show="show">
                        {{msj2}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="agregarReporte()">Guardar </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="setFalse()">cerrar</button>
                </div>
            </div>
        </div>
    </div>

</div>